In [1]:
import numpy as np
import pandas as pd

In [2]:
daily=pd.read_csv('/Users/Alexkilledme/Desktop/Implemented.today/TappedIn/data source leaking check/POB_Data_Export_Emails.csv')

In [3]:
daily.head()

,EmailAddress,FirstName,LastName,Location,LastLoginDate,VisitCount,Unnamed: 6
0,022102@lths.org,NaN,NaN,PelicanHarrys-HomerGlen,27/07/2019 17:16:46,0,NaN
1,00synyster@gmail.com,NaN,NaN,Forge-Joliet,11/08/2019 23:50:16,0,NaN
2,0214138@up.edu.mx,NaN,NaN,PelicanHarrys-HomerGlen,15/11/2018 05:06:21,0,NaN
3,1027gonzalezleonardo@icloud.com,NaN,NaN,Unallocated,11/08/2019 02:47:34,0,NaN
4,026815@lths.org,NaN,NaN,HamiltonsPub-Lemont,23/04/2019 00:23:35,0,NaN

In [4]:
lst_daily=daily['LastLoginDate'].tolist()
lst_daily2=[]
from datetime import datetime
for t in lst_daily:
    time_str = t
    time = datetime.strptime(time_str, '%d/%m/%Y %H:%M:%S')
    t=time.strftime('%m/%d/%Y %H:%M:%S')
    lst_daily2.append(t)

In [5]:
daily['LastLoginDate']=lst_daily2

In [6]:
daily.to_csv('PO_original.csv', index=False)